<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="assets/img/favicon.ico">
<title>Mediumish - A Medium style template by WowThemes.net</title>
<!-- Bootstrap core CSS -->
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="~/assets/css/mediumish.css" rel="stylesheet">
</head>
<body>

<!-- Begin Site Title -->
<div class="container">
	<div style="margin-top:-50px;" class="mainheading">
			<h1 class="sitetitle"><a style="text-decoration:none;" asp-controller="Home" asp-action="Index">Mediumish</a></h1>
		<p class="lead">
			 Bootstrap theme, medium style, simply perfect for bloggers
		</p>
	</div>
<!-- End Site Title -->

            @RenderBody()
		<!-- Begin Footer -->
		<div class="footer">
			<p class="pull-left">
				Copyright &copy; 2023 Your Website Name
			</p>
			<p  style="justify-content:center" class="pull-right">
				@*<ul style="display:flex; list-style:none;">
					<li><a>S</a></li>
					<li><a>S</a></li>
					<li><a>S</a></li>
					<li><a>S</a></li>		
				</ul>*@
			</p>
			
		</div>
		<!-- End Footer -->

	</div>
	<!-- /.container -->

	<!-- Bootstrap core JavaScript
		================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="~/assets/js/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="~/assets/js/bootstrap.min.js"></script>
	@RenderSection("Scripts",false)
	<script src="~/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>

